/* Server bar revert */
@import url("https://raw.githubusercontent.com/scattagain/VencordStuff/4fa465629d6d71092c20aa11245abb6ad4a44641/css/GuildbarRevert.css");

/* TODO: Add back fixed typing indicator revert and re-enable below line along with it */

/* extra spacing below most recent message (more like old UI) */
div[class*="-channelBottomBarArea"],
div[class*="channelBottomBarArea_"] {
    /* margin-top: 0.5rem !important; */
}

/* Fix role viewer that looks terrible now */
.vc-permviewer-role-button {
    padding: 2px
}
[class^=roleTag] > [class^=role] {
    border-radius: var(--radius-sm);
    gap: 4px;
    padding: 0 4px;

    > [class^=roleCircle] {
        margin: unset
    }

    > span > [class^=roleIcon] {
        height: unset;
        width: unset;
        margin-inline-start: unset;
    }

    > [class^=removeButton] {
        position: absolute;
        height: 12px;
        width: 12px;
        opacity: 0;
        &:hover { opacity: 1 }
    }
}

/* Members list spacing/padding */
div[class*="-memberInner"],
div[class*="memberInner__"] {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

/* Non-nitro profile background color */
div[id^="popout_"] div[aria-modal="true"] div[class*="-outer"],
div[id^="popout_"] div[aria-modal="true"] div[class*="outer_"] {
    background-color: var(--background-base-lowest) !important;
}

/* new user area revert */
.visual-refresh div[class*="-sidebar"] section[class*="-panels"],
.visual-refresh div[class*="sidebar__"] section[class*="panels__"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border-radius: 0px;
    border: none;
}
div[class*="-nameTag"] div[class*="-panelTitleContainer"],
div[class*="nameTag__"] div[class*="panelTitleContainer__"] {
    margin-bottom: 0;
}
div[class*="-nameTag"] div[class*="-panelTitleContainer"] div,
div[class*="nameTag__"] div[class*="panelTitleContainer__"] div {
    font-size: 0.9rem !important;
}
div[class*="-nameTag"] div[class*="-panelSubtextContainer"] div,
div[class*="nameTag__"] div[class*="panelSubtextContainer__"] div {
    font-size: 0.75rem !important;
}
.visual-refresh nav[class*="-guilds"],
.visual-refresh nav[class*="guilds__"] {
  margin-bottom: unset;
}

/* make server title thing at the top left aligned */
div[class*="-bar"] div[class*="-title"],
div[class*="bar_"] div[class*="title_"] { 
  margin-left: 8px;
  justify-content: left;
}

/* improve UI of vencord spotify player thing (if you have that plugin enabled) */
#vc-spotify-player {
    padding: 16px 16px 8px 16px;
}

#vc-spotify-player #vc-spotify-album-image {
    height: 100%;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#vc-spotify-player #vc-spotify-album-image:hover {
    transform: scale(1.1);
}

#vc-spotify-player .vc-spotify-button-row {
    display: flex;
    gap: 4px !important;
}

#vc-spotify-player .vc-spotify-button-row .vc-spotify-repeat,
#vc-spotify-player .vc-spotify-button-row .vc-spotify-shuffle {
    margin-inline: auto;
}

#vc-spotify-player #vc-spotify-progress-bar {
    margin-top: 4px;
}

#vc-spotify-player div[class*="-slider"],
#vc-spotify-player div[class*="slider_"] {
    --grabber-size: 12px !important;
}

#vc-spotify-player div[class*="-grabber"],
#vc-spotify-player div[class*="grabber_"] {
    transition: left 0.2s ease;
}

#vc-spotify-player div[class*="-grabber"],
#vc-spotify-player div[class*="-slider"],
#vc-spotify-player div[class*="grabber_"],
#vc-spotify-player div[class*="slider_"] {
    cursor: pointer;
}

#vc-spotify-player #vc-spotify-titles > :nth-child(3) {
    font-style: italic;
}

#vc-spotify-player #vc-spotify-titles > :nth-child(3) > .vc-spotify-song-info-prefix {
    display: inline-block;
    font-style: normal;
}

/* uncomment for funny */
/* img[src="/assets/a6b1ba6fa378a731.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1438128337523441754.png");
}
button[data-name="sob"] {
    background-image: url("https://cdn.discordapp.com/emojis/1438128337523441754.png");
    background-size: 95%;
    div {
        display: none;
    }
}

img[src="/assets/607676c4d5d72659.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1435630925194199102.webp?size=128");
}
button[data-name="pray"] {
    background-image: url("https://cdn.discordapp.com/emojis/1435630925194199102.webp?size=128");
    background-size: 95%;
    div {
        display: none;
    }
} */
